:root {
  --secondary-color: #000000;
  --secondary-color: #024e76;
  --tertiary-color: #F5FAF9;
  --timing: 265ms;
  --iconColor: #00B5F5;
  --accent: #003A8F;
  --bluefade: #0043E0;
  --gradient: #00B5F5;
  --scale: 1.0;
}

body {
  background-color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--secondary-color);
}

/* Header and Nav Bar */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  background-color: var(--tertiary-color);
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  padding: 10px 30px;
  font-size: 20px;
  color: var(---var(--secondary-color));
  border: 3px solid var(--secondary-color);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.00vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {

  border-radius: 15px;
  text-shadow: none;
}

/* Content Main Style */

#content {
  padding: 0 150px;
}

main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  margin: 0 auto;
}

/* About Section */

.about {
  width: 50%;
}

/* Work and Jobs Section */

/* .jobs {

} */

/* Featured Projects Section */

.feature {
  text-align: center;
}

.featured-project {
  display: flex;
  width: 900px;
  margin: 0 auto 30px auto;
  color: var(--secondary-color);
  overflow: auto;
}

.featured-project img {
  width: 35%;
  float: left;
}

.featured-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

/* Utilities */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* Other Projects Section */

.projects {
  text-align: center;
}

/* Footer Section */
/* Social Media Icons */

.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--iconColor), var(--accent));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--iconColor);
  background: linear-gradient(45deg, var(--iconColor), var(--accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}