:root {
  --blue: #0f83ad;
  --smalldarkblue: #002b41;
  --darkblue: #001d2c;
  --white: #F5FAF9;
  --grey: #c4c4c4da;
  --timing: 265ms;
  --iconColor: #00B5F5;
  --accent: #003A8F;
  --bluefade: #0043E0;
  --gradient: #00B5F5;
  --scale: 1.0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkblue);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--white);
  line-height: 1.3;
}

/* Header and Nav Bar */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
  background-color: var(--darkblue);
  background-position: 80%;
  border-bottom: 3px solid var(--darkblue);
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  color: var(---var(--white));
}

header a {
  text-decoration: none;
  color: var(--white);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 0.8vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  border-radius: 15px;
  text-shadow: none;
  color: var(--blue);
}

/* Content Main Style */

#content {
  padding: 0 300px;
}

main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 300px 100px;
  margin: auto;
}

main h1 {
  color: var(--blue);
  margin: 0px 0px 20px 4px;
  font-weight: 400;
  line-height: 1.1;
  font-size: 20px;
}

main h2 {
  color: var(--white);
  margin: 0;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.1;
}

main h3 {
  color: var(--grey);
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 3;
}

main p {
  color: var(--grey);
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.8;
}

main a {
  color: var(--blue);
  text-decoration: none;
}
main a:visited {text-decoration: none;}
main a:hover {text-decoration: none;}
main a:focus {text-decoration: none;}
main a:active {text-decoration: none;}

/* About Section */

section {
  display: block;
  max-width: 1800px;
  margin: 0 auto;
}

.about {
  height: 100%;
  width: 55%;
  padding: 100px 0 200px 0;
}

.about h2 {
  text-align: left;
  font-size: 30px;
  line-height: 2.0;
}

.inner {
  display: flex; 
  position: relative;
  line-height: 1.7;
  justify-content: space-between;
}

.text {
  color: var(--grey);
  max-width: 100%;
  padding: 0 50px 0 0;
}

.about img {
  display: flex;
  width: 300px;
  height: 300px;
  border: 5px solid var(--blue);
  border-radius: 15px;
  object-fit: cover;
  object-position: 10% 60%;
}

/* Work and Jobs Section */

.jobs {
  height: 100%;
  width: 80%;
  padding: 100px 0 150px 0;
  margin: 0 50px;
}

.jobs article {
  padding: 20px 0;
}

.jobs h2 {
  text-align: left;
  font-size: 30px;
  line-height: 2.0;
}

.jobs h3 {
  color: var(--white);
  line-height: 1.3;
}

.jobs a {
    color: var(--blue);
    text-decoration: none;
  }
.jobs a:visited {text-decoration: none;}
.jobs a:hover {text-decoration: none;}
.jobs a:focus {text-decoration: none;}
.jobs a:active {text-decoration: none;}

.range {
  color: var(--grey);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jobs li {
  color: var(--grey);
  line-height: 1.5;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.jobs li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}

/* Featured Projects Section */

.feature {
  width: 65%;
  height: 100%;
  padding: 100px 0 150px 0;
  text-align: center;
}

.feature h1 {
  font-size: 16px;
  color: var(--blue);
  font-weight: lighter;
}

.feature h2 {
  font-size: 25px;
  color: var(--white);
  padding: 7px 0;
}

.feature h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 2.0;
  text-align: left;
  margin: 10px 0 30px 0;
}

.feature h4 {
  background-color: var(--smalldarkblue);
  position: relative;
  padding: 10px 20px;
  color: var(--grey);
  line-height: 1.4;
  font-weight: 100;
  font-size: 15px;
}

.featured-project {
  display: flex;
  margin: 20px auto 100px auto;
  color: var(--white);
  overflow: auto;
}

.feature a {text-decoration: none; opacity: 60%;}
.feature a:visited {text-decoration: none;}
.feature a:hover {text-decoration: none; opacity: 100%;}
.feature a:focus {text-decoration: none;}
.feature a:active {text-decoration: none;}

.featured-project img {
  width: 100%;
  height: 400px;
  width: 550px;
  object-fit: cover;
  float: left;
}

.featured-bio {
  padding: 35px 5px 35px 5px;
  float: left;
  width: 100%;
}

.feature p {
  padding: 15px 0;
  font-size: 12px;
}

/* Utilities */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Other Projects Section */

.flex-row {
  display: flex;
}

.flex-row h3 {
  font-size: 30px;
  margin: 0 auto;
}

.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 100px 0 150px 0;
}

.project {
  position: relative;
  margin: 20px;
  flex: 1;
  background-color: var(--smalldarkblue);
  text-align: left;
}

.project a {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  text-decoration: none;
  text-align: right;
}
.project a:visited {text-decoration: none;}
.project a:hover {text-decoration: none; transform: scale(1.01);}
.project a:focus {text-decoration: none;}
.project a:active {text-decoration: none;}


.project-images {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0px 20px;
}

.icon-folder {
  height: 20%;
  width: 20%;
}

.icon-link {
  height: 10%;
  width: 10%;
}

.project-card {
  padding: 15px 25px 50px 25px;
  line-height: 1.3;
}

.project-name {
  color: var(--white);
  font-size: 20px;
  line-height: 2.0;
}

.project h4 {
  color: var(--grey);
  line-height: 1.5;
  font-weight: 100;
  font-size: 15px;
}

.project-tools {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 15px;
}

.project p {
  color: var(--grey);
  font-size: 15px;
}

.other-projects {
  display: block;
  line-height: 2.0;
  font-size: 25px;
}

/* Contact Section */

#contact {
  width: 100%;
  margin: 0 auto;
}

.contacts {
  padding-top: 200px;
  text-align: center;
}

.contacts h2 {
  font-size: 30px;
  line-height: 2.0;
}

.contacts p {
  font-size: 15px;
  padding: 10px 50px;
  color: var(--grey);
}

/* Footer Section */

footer {
  background: var(--darkblue);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: var(--grey);
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  align-items: center;
}

/* Social Media Icons */

.social-container {
  width: 100%;
  margin: 30vh auto 0 auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--iconColor), var(--accent));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--iconColor);
  background: -webkit-linear-gradient(45deg, var(--iconColor), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* Media Query for Larger Desktop Screen and Smaller */

@media screen and (max-width: 1800px) {
  #content {
    padding: 0 100px;
  }
  header nav ul li a {
    font-size: 1.0vw;
  }
  .about {
    width: 70%;
    padding: 100px 0 50px 0;
  }
  .feature {
    width: 75%;
  }
}

/* Media Query for Desktops and Smaller */

@media screen and (max-width: 1280px) {
  #content {
    padding: 0 25px;
  }
  header nav ul li a {
    font-size: 1.5vw;
  }
  .about {
    width: 80%;
  }
  .text {
    line-height: 1.5;
  }
  .feature {
    width: 85%;
  }
  .contacts {
    margin: 0 100px;
  }
}

/* Media Query for Tablets Ipads Portrait Mode and Smaller */

@media screen and (max-width: 1024px) {
  .feature {
    width: 92%;
  }
  .featured-project img {
    width: 100%;
  }
}

/* Media Query for Low Resolution Tablets and Ipads and Smaller */

@media screen and (max-width: 767px) {
  header nav ul li a {
    font-size: 2.2vw;
  }
  main h3 {
    line-height: 1.0;
    margin: 5px 0;
  }
  main p {
    line-height: 1.0;
    margin: 5px 0;
  }
  .about {
    width: 90%;
  }
  .inner {
    display: block;
  }
  .about img {
    margin: 20px auto 0 auto;
  }
  .featured-project {
    display: block;
  }
  .projects {
    flex-direction: column;
  }
  .icon-folder {
    height: 10%;
    width: 10%;
  }
  .icon-link {
    height: 5%;
    width: 5%;
  }
}

/* Media Query for Mobile Phones and Smaller */

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }
  #content {
    padding: 0;
  }
  main {
    padding: 50px 20px 20px 20px;
    min-height: 80vh;
  }
  main h2 {
    font-size: 50px;
    margin: 15px 0;
  }
  main h3 {
    font-size: 25px;
    margin: 15px 0;
  }
  main p {
    font-size: 15px;
  }
  header nav ul li a {
    font-size: 4.0vw;
  }
  .projects {
    padding: 20px 0 20px 0;
  }
  .contacts {
    margin: 20px;
    padding: 100px 0;
  }
  .contacts h2 {
    line-height: 1.0;
    padding: 20px 0;
  }
  .contacts p {
    padding: 10px 0;
  }
  footer {
    padding: 50px 0px;
  }
  .social-container {
    margin: auto;
  }
  .social-icons {
    margin: 0;
  }
}