:root {
  --blue: #0f83ad;
  --darkblue: #001d2c;
  --white: #F5FAF9;
  --grey: #aaaaaada;
  --timing: 265ms;
  --iconColor: #00B5F5;
  --accent: #003A8F;
  --bluefade: #0043E0;
  --gradient: #00B5F5;
  --scale: 1.0;
}

/* test */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkblue);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--white);
}

/* Header and Nav Bar */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
  background-color: var(--darkblue);
  background-position: 80%;
  border-bottom: 3px solid var(--darkblue);
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  color: var(---var(--white));
}

header a {
  text-decoration: none;
  color: var(--white);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 0.8vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  border-radius: 15px;
  text-shadow: none;
  color: var(--blue);
}

/* Content Main Style */

#content {
  padding: 0 400px;
}

main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 300px 300px;
  margin: auto;
}

main h1 {
  color: var(--blue);
  margin: 0px 0px 20px 4px;
  font-weight: 400;
  line-height: 1.1;
  font-size: 20px;
}

main h2 {
  color: var(--white);
  margin: 0;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.1;
}

main h3 {
  color: var(--grey);
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 3;
}

main p {
  color: var(--grey);
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.8;
}

main a {
  color: var(--blue);
  text-decoration: none;
/*   position: relative;
  transition: color 0.4s ease-out; */
}
/* main a::after {
  border-radius: 1em;
  border-top: .1em solid var(--blue);
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0, 0.5, 0, 1);
} */
main a:visited {text-decoration: none;}
main a:hover {text-decoration: none;}
main a:focus {text-decoration: none;}
main a:active {text-decoration: none;}

/* About Section */

.about h2 {
  overflow: hidden;
  text-align: left;
}

.about h2:before,
.about h2:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: center;
  width: 50%;
}

.about h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.about h2:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Work and Jobs Section */

/* .jobs {

} */

/* Featured Projects Section */

.feature {
  text-align: center;
}

.featured-project {
  display: flex;
  width: 900px;
  margin: 0 auto 30px auto;
  color: var(--white);
  overflow: auto;
}

.featured-project img {
  width: 35%;
  float: left;
}

.featured-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

/* Utilities */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* Other Projects Section */

.projects {
  text-align: center;
}

/* Footer Section */

footer {
  background: var(--darkblue);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h4 {
  color: var(--white);
  font-size: 15px;
  margin: 0 auto;
  align-items: center;
}

/* Social Media Icons */

.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--iconColor), var(--accent));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--iconColor);
  background: -webkit-linear-gradient(45deg, var(--iconColor), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* Media Query for Smaller Desktop Screen and Smaller */

/* @media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
} */

/* Media Query - Tablets and Smaller */

/* @media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
} */

/* Media Query for Mobile Phones and Smaller */

/* @media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
} */